p {
    color: #616161;
    font-weight: 400;
}

h3.slider {
    font-weight: 500;
    color: white;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

h3.menu {
    color: white;
    font-size: 75px;
    font-family: 'Tangerine', cursive;
}

h2.menui {

    font-weight: 500;
    font-family: 'Tangerine', cursive;
}

.card {
    overflow: visible;
}


.section-follwing-content {
    padding: 20px;
}

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline;
    float: none;
}

nav.nav-center ul li a {
    display: inline-block;
    color: white;
    font-weight: 700;
}

nav.nav-center ul li a:hover {
    display: inline-block;
    color: black;
    background-color: #6F4E37;
}

.parallax-container {
    height: 500px;
}

div.parallax-container {
    height: 500px;
}

.sitetitle {
    font-family: 'Caveat', cursive;
    font-size: 8vw;
    color: wheat;
}

h2.about {
    text-align: center;
}

.pinfo {
    color: grey;
    text-align: justify;
    font-size: 20px;

}

#social-buttons:hover {
    color: #C62828 !important;
}

#social-buttons-footer:hover {
    color: #212121 !important;
}
